@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100%;
  font-family: "Open Sans Condensed", sans-serif;
}

#root {
  height: 100%;
}